#docs li {
  @apply list-disc;
}

#docs blockquote {
  @apply p3 bg-secondary w-fit rounded-r-lg;
  @apply border-(0 l-5 solid border);
}

#docs .codeblock {
  background-color: var(--codeblock);
  color: white;
  @apply pt5 rounded-b
}

pre {
  @apply overflow-x-auto
}

.LineNr {
  color: hsl(from var(--codeblock) h s 45%);
  padding: 0 .5rem;
  user-select: none;
}

.dark .LineNr {
  color: hsl(from var(--codeblock) h s 30%)
}
